<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.ryq.renting.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.ryq.renting.mapper.dtd">
<com.ryq.renting.mapper namespace="com.ryq.renting.mapper.item.TransferMapper">

    <insert id="insertTransfer">
        insert into transfer(old_room,new_room,identifier,transfer_timestamp) value (#{oldRoom},#{newRoom},#{identifier},#{transferTimestamp})
    </insert>
</com.ryq.renting.mapper>