<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="linkheader">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/vendor/chartist/css/chartist-custom.css">
    <link rel="stylesheet" href="/css/jquery.seat-charts.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--SCRIPTS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery.base64.js"></script>
    <!--<script src="/vendor/jquery/tableexport.js"></script>-->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/vendor/chartist/js/chartist.min.js"></script>
    <script src="/scripts/klorofil-common.js"></script>
    <script src="/vendor/jquery/jquery.seat-charts.js"></script>
    <script src="/vendor/jquery/jquery.seat-charts.min.js"></script>
    <!--FILESAVER SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/FileSaver@0.10.0/FileSaver.js"></script>
    <!--XLSX SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.core.min.js"></script>
    <!--TABLE2EXCEL SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-table2excel@1.1.1/dist/jquery.table2excel.js"></script>
</head>
<body>

</body>
</html>