<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <div id="sidebar-nav" class="sidebar" th:fragment="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
<!--                    <li>-->
<!--                        <a href="#subPage" data-toggle="collapse" class="collapsed"><i class="lnr lnr-home"></i> <span>冷藏项目管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="subPage" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="/addcoldstorageitem" class="">冷藏项目自动入库</a></li>-->
<!--                                <li><a href="/manualaddcolditem" class="">冷藏项目手动入库</a></li>-->
<!--                                <li><a href="/excoldstorageitem" class="">冷藏项目出库</a></li>-->
<!--                                <li><a href="/waitcheckitem" class="">提交审批项目</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#checking" data-toggle="collapse" class="collapsed"><i class="lnr lnr-pencil"></i> <span>审批管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="checking" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="/querycheckitem" class="">等待审批入库项目</a></li>-->
<!--                                <li><a href="/querycheckexitem" class="">等待审批出库项目</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                    <li>
                        <a href="#roomMana" data-toggle="collapse" class="collapsed"><i class="lnr lnr-code"></i> <span>冷库项目管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="roomMana" class="collapse">
                            <ul class="nav">
                                <li><a href="/addroominformation" class="">新增冷库信息</a></li>
                                <li><a href="/roominformationdisplay" class="">冷库信息展示</a></li>
                                <li><a href="/addcustomlabel" class="">新增冷库标签</a></li>
                                <li><a href="/displaylabel" class="">展示冷库标签</a></li>
                            </ul>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <a href="#reportForm" data-toggle="collapse" class="collapsed"><i class="lnr lnr-chart-bars"></i> <span>报表</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="reportForm" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="/displaywarehousing" class="">入库报表</a></li>-->
<!--                                <li><a href="/displaydelivery" class="">出库报表</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                    <li>
                        <a href="#customer" data-toggle="collapse" class="collapsed"><i class="lnr lnr-user"></i> <span>人员管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="customer" class="collapse">
                            <ul class="nav">
                                <li><a href="/toinsertuser" class="">新增用户</a></li>
                                <li><a href="/selectalluser" class="">用户管理</a></li>
                            </ul>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <a href="#address" data-toggle="collapse" class="collapsed"><i class="lnr lnr-bus"></i> <span>收货地址管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="address" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="/toinsertcustomer" class="">新增收货地址</a></li>-->
<!--                                <li><a href="/displaycustomer" class="">管理收货地址</a></li>-->

<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#transport" data-toggle="collapse" class="collapsed"><i class="lnr lnr-bus"></i> <span>运输工具管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="transport" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="/toinserttransport" class="">新增运输工具</a></li>-->
<!--                                <li><a href="/todisplaytransport" class="">展示运输工具</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                    <li><a href="/displayexportlists" class=""><i class="lnr lnr-cog"></i> <span>出库详情单</span></a></li>
                    <!--                    <li><a href="#" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>-->
<!--                    <li><a href="#" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>-->
<!--                    <li>-->
<!--                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                        <div id="subPages" class="collapse">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#" class="">Profile</a></li>-->
<!--                                <li><a href="#" class="">Login</a></li>-->
<!--                                <li><a href="#" class="">Lockscreen</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li><a href="#" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>-->
<!--                    <li><a href="#" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>-->
<!--                    <li><a href="#" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>