<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryq.coldstoragesystem.mapper.CustomerMapper">
    <insert id="insertCustomer">
        insert into customer(customer_name,customer_contact,address,creater,lng,lat) value (#{customerName},#{customerContact},#{address},#{creater},#{lng},#{lat})
    </insert>

    <update id="updateCustomerById">
        update customer set customer_name=#{customerName},customer_contact=#{customerContact},address=#{address},creater=#{creater} where id=#{id}
    </update>

    <delete id="deleteCustomById">
        delete from customer where id=#{id}
    </delete>

    <select id="selectCustomerByIdCustom" resultType="com.ryq.coldstoragesystem.bean.Customer">
        select * from customer where id=#{id}
    </select>

    <select id="selectAllCustomerCustom" resultType="com.ryq.coldstoragesystem.bean.Customer">
        select * from customer where creater=#{loginUserName}
    </select>
    <select id="selectAllByName" resultType="com.ryq.coldstoragesystem.bean.Customer">
        select * from customer where customer_name=#{name}
    </select>
</mapper>