<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryq.coldstoragesystem.mapper.RoomInformationMapper">
    <insert id="addRoomInformation" parameterType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        insert into 050000_room_information(room_name,room_code,room_volume,room_temperature,room_label_name,room_label_code,used_capacity,unused_capacity,current_temperature,room_daily_cost,room_key,lng,lat,length,width,height,address) value (#{roomName},#{roomCode},#{roomVolume},#{roomTemperature},#{roomLabelName},#{roomLabelCode},#{usedCapacity},#{unusedCapacity},#{currentTemperature},#{roomDailyCost},#{roomKey},#{lng},#{lat},#{length},#{width},#{height},#{address})
    </insert>
    <update id="updateByid">
        update 050000_room_information set room_name=#{roomName},room_temperature=#{roomTemperature},current_temperature=#{currentTemperature},room_daily_cost=#{roomDailyCost} where id=#{id}
    </update>
    <select id="getAllRoomInformation" resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information
    </select>
    <select id="selectRoomByRoomName"
            resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information where room_name like "%"#{arg0}"%"
    </select>
    <select id="selectRoomByRoomCode"
            resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information where room_code like "%"#{arg0}"%"
    </select>
    <select id="selectRoomByTemperature"
            resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information where current_temperature = #{arg0}
    </select>
    <select id="selectRoomByCost" resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information where room_daily_cost = #{arg0}
    </select>
    <select id="selectRoomByLabelCode"
            resultType="com.ryq.coldstoragesystem.bean.AddColdStorageRoomInformation">
        select * from 050000_room_information where room_label_code = #{arg0}
    </select>


    <insert id="insertCodeTables">
        insert into ${roomCode}(code,status,comment,good_id,volume) values
        <foreach collection="roomCubicle" item="item" index="index" separator=",">
            (#{item.code},#{item.status},#{item.comment},#{item.goodId},#{item.volume})
        </foreach>

    </insert>
</mapper>