<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.ryq.renting.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.ryq.renting.mapper.dtd">
<com.ryq.renting.mapper namespace="com.ryq.renting.mapper.DeliveryRecordMapper">

    <insert id="insertDeliveryRecord">
        insert into sjz_delivery_record(item_name,item_weight,room_code,in_registration_time_stamp,ex_registration_time_stamp,operator,inspector,status,room_label_code,identifier) values(#{itemName},#{itemWeight},#{roomCode},#{inRegistrationTimeStamp},#{exRegistrationTimeStamp},#{operator},#{inspector},#{status},#{roomLabelCode},#{identifier})
    </insert>

    <select id="selectAllByOperatorDeliveryRecord" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record where operator=#{operator}
    </select>

    <select id="selectAllDeliveryRecord" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record
    </select>
    <select id="selectByItemName" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record where item_name like "%"#{arg0}"%"
    </select>
    <select id="selectByRoomCode" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record where room_code like "%"#{arg0}"%"
    </select>
    <select id="selectByItemNameAndOperator" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record where item_name like "%"#{arg0}"%" and operator=#{arg1}
    </select>
    <select id="selectByRoomCodeAndOperator" resultType="com.ryq.coldstoragesystem.bean.DeliveryRecord">
        select * from sjz_delivery_record where room_code like "%"#{arg0}"%" and operator=#{arg1}
    </select>
</com.ryq.renting.mapper>