<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>新增标签</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
    <style>
        #main-form{
            padding-top:70px;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">新增标签</h3>
                    </div>
                    <div class="panel-body">
                        <form id="main-form" action="/savelabel">
                            <p>
                                &emsp;&emsp;<label>标签名称：</label><input type="text" name="roomLabelName" th:if="${currentdata}" th:value="${currentdata.getRoomLabelName()}">
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['roomLabelName']}"></label>
                            </p>
                            <p>
                                &emsp;&emsp;<label>标签编号：</label><input type="text" name="roomLabelCode" th:if="${currentdata}" th:value="${currentdata.getRoomLabelCode()}">
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['roomLabelCode']}"></label>
                            </p>
                            <p>
                                &emsp;&emsp;<label>单位重量：</label><input type="text" name="UnitWeightFood" th:if="${currentdata}" th:value="${currentdata.getUnitWeightFood()}">&emsp;吨/m³
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['UnitWeightFood']}"></label>

                            </p>
                            <p>
                                &emsp;&emsp;<label>最低温度：</label><input type="text" name="minTemperature" th:if="${currentdata}" th:value="${currentdata.getMinTemperature()}">&emsp;℃
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['minTemperature']}"></label>

                            </p>
                            <p>
                                &emsp;&emsp;<label>最高温度：</label><input type="text" name="maxTemperature" th:if="${currentdata}" th:value="${currentdata.getMaxTemperature()}">&emsp;℃
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['maxTemperature']}"></label>

                            </p>
                            <p>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input class="btn btn-success" type="submit" value="提交标签">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>