<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>新增仓库信息</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=VovYGooPZpSU7yqTG1GeukhP1UVibGK2"></script>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
<!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">新增仓库信息</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div id="mapContainer" style="width: 700px;height: 400px;float: right"></div>
                        </div>
                        <div>
                            <form action="/saveroominformation">
                                <p>
                                    <label>仓库名称：</label><input type="text" name="roomName" th:value="${currentdata.getRoomName()}">
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['roomName']}"></label>
                                </p>
                                <p>
                                    <label>仓库编号：</label><input type="text" th:value="${currentdata.getRoomCode()}" name="roomCode" readonly>
                                </p>
                                <p>
                                    <label>标&emsp;&emsp;签：</label>
                                    <label>
                                        <select name="roomLabelCode">
                                            <option th:each="item:${labelinformation}"
                                                    th:value="${item.getRoomLabelCode()}"
                                                    th:text="${item.getRoomLabelName()}"></option>
                                        </select>
                                    </label>
                                <p>
                                    <label>仓库长度：</label><input type="text" id="length" name="length" th:value="${currentdata.getLength()}">&emsp;<label>m</label>
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['length']}"></label>
                                </p>
                                <p>
                                    <label>仓库宽度：</label><input type="text" id="width" name="width" th:value="${currentdata.getWidth()}">&emsp;<label>m</label>
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['width']}"></label>
                                </p>
                                <p>
                                    <label>仓库高度：</label><input type="text" id="height" name="height" th:value="${currentdata.getHeight()}">&emsp;<label>m</label>
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['height']}"></label>
                                </p>
                                <p>
                                    <label>仓库容积：</label><input type="text" id="roomVolume" name="roomVolume" th:value="${currentdata.getRoomVolume()}" readonly>&emsp;<label>m³</label>
                                </p>
                                <p>
                                    <label>额定温度：</label><input type="text" name="roomTemperature" th:value="${currentdata.getRoomTemperature()}">&emsp;<label>℃</label>
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['roomTemperature']}"></label>
                                </p>
                                <p>
                                    <label>冷藏费用：</label><input type="text" name="roomDailyCost" th:value="${currentdata.getRoomDailyCost()}">&emsp;<label>元/天</label>
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['roomDailyCost']}"></label>
                                </p>
                                <p>
                                    <label>地&emsp;&emsp;址：</label><input type="text" id="address" name="address" th:if="${currentdata}" th:value="${currentdata.getAddress()}">&emsp;
                                    <input class="btn btn-primary" type="button" value="点击搜索" onClick="sear(document.getElementById('address').value);">
                                    <label style="color: red" th:if="${errorMap}" th:text="${errorMap['address']}"></label>
                                    <input type="hidden" th:value="${currentdata.getLng()}" id="lng" name="lng">
                                    <input type="hidden" th:value="${currentdata.getLat()}" id="lat" name="lat">
                                </p>
                                <p>
                                    <input id="addnewroom" class="btn btn-success" type="submit" value="新增">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var len=0,wid=0,high=0;
        $( '#length' ).on( 'input propertychange' ,  function () {
            len = $("#length").val();
            console.log(len);
            if (parseInt(len)*parseInt(wid)*parseInt(high) != 0){
                $("#roomVolume").val(parseInt(len)*parseInt(wid)*parseInt(high));
            }else{
                $("#roomVolume").val(0);
            }
        });
        $( '#width' ).on( 'input propertychange' ,  function () {
            wid = $("#width").val();
            console.log(wid);
            if (parseInt(len)*parseInt(wid)*parseInt(high) != 0){
                $("#roomVolume").val(parseInt(len)*parseInt(wid)*parseInt(high));
            }else{
                $("#roomVolume").val(0);
            }
        });
        $( '#height' ).on( 'input propertychange' ,  function () {
            high = $("#height").val();
            console.log(high);
            if (parseInt(len)*parseInt(wid)*parseInt(high) != 0){
                $("#roomVolume").val(parseInt(len)*parseInt(wid)*parseInt(high));
            }else{
                $("#roomVolume").val(0);
            }
        });
        $("#addnewroom").on("click",function () {
            $("#length").val(parseInt(len));
            $("#width").val(parseInt(wid));
            $("#height").val(parseInt(high));

        });
    });
    //地图选点
    //设置中心点坐标
    var point = new BMap.Point(114.521532, 38.048312);
    //初始化地图
    /**
     *地图类型：
     *普通地图：BMAP_NORMAL_MAP
     *卫星地图：BMAP_HYBRID_MAP
     */
    var map = new BMap.Map("mapContainer",{mapType:BMAP_NORMAL_MAP,minZoom:1,maxZoom:18}); //设置地图类型及最小最大级别
    //设置地图级别（1-18）
    map.centerAndZoom(point,18);
    //开启滚轮缩放地图
    map.enableScrollWheelZoom();
    //进行浏览器定位
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        // 定位成功事件
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            //alert('您的位置：'+r.point.lng+','+r.point.lat);
            var point = new BMap.Point(r.point.lng, +r.point.lat);
        }
    },{enableHighAccuracy: true});

    //addEventListener--添加事件监听函数
    //click--点击事件获取经纬度

    var geoc = new BMap.Geocoder();
    var lng=0,lat=0;
    var addComp;
    map.addEventListener("click",function(e){
        map.clearOverlays();
        var pt = new BMap.Point(e.point.lng, e.point.lat);
        var marker = new BMap.Marker(pt);
        // 将标注添加到地图中
        map.addOverlay(marker);
        lng=e.point.lng;
        lat=e.point.lat;
        $("#lng").val(e.point.lng);
        $("#lat").val(e.point.lat);
        // prompt("鼠标单击地方的经纬度为：",e.point.lng + "," + e.point.lat);
        // $("input[name='where']").val(address);
        geoc.getLocation(pt, function(rs){
            addComp = rs.addressComponents;
            $("input[name='address']").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
        });
    });
    function sear(result){//地图搜索
        var local = new BMap.LocalSearch(map, {
            renderOptions:{map: map}
        });
        var search = local.search(result);
    }
</script>
</body>
</html>