<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>新增用户</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<style>
    #msg {
        width: 200px;
        height: 5px;
        margin: 20px 0;
        border: 1px solid #cccccc;
        display: none;
    }
    #progress {
        width: 100%;
        height: 5px;
    }
</style>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">新增用户</h3>
                    </div>
                    <div class="panel-body">
                        <form id="main-form" action="/insertuser" method="post">

                            &emsp;&emsp;<label>&emsp;用户名：</label><input type="text" id="userName" name="userName">
                            <label style="color: red" id="user-name"></label>
                            <br>
                            <br>
                            &emsp;&emsp;<label>密&emsp;&emsp;码：</label><input type="password" class="password" id="password" name="password">
                            <label style="color: red" id="input-password"></label>
                            <br>
                            <br>
                            &emsp;&emsp;<label>重输密码：</label><input type="password" id="password1">&emsp;
                            <label style="color: red" id="twice-input"></label>
                            <br>
                            <br>
                            &emsp;&emsp;<label>分配角色：</label>
                            <label>
                                <input name="role" type="checkbox" value="1">管理员
                            </label>
                            <label>
                                <input name="role" checked="checked" type="checkbox" value="2">客户
                            </label>
                            <label>
                                <input name="role" type="checkbox" value="3">审查员
                            </label>
<!--                            <br>-->
<!--                            <br>-->
<!--                            &emsp;&emsp;<label>分配角色：</label>-->
<!--                            <label>-->
<!--                                <select name="role">-->
<!--                                    <option value="1">激活</option>-->
<!--                                    <option value="2">锁定</option>-->
<!--                                </select>-->
<!--                            </label>-->
                            <br>
                            <br>
                            &emsp;&emsp;<input class="btn btn-success" type="submit" id="sub" value="点击新增">&emsp;&emsp;&emsp;<input class="btn btn-primary" type="reset" value="点击重置">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // $('#password').keyup(function(e) {
    //
    //     return true;
    // });

    var flag_username=false;
    var flag_pwd=false;
    var flag_pwd_t=false;
    // $("#userName").on("input",function () {
    //     if ($("#userName").val().trim().length>10 || $("#userName").val().trim().length==0){
    //         $("#user-name").val("用户名长度小于10");
    //         flag+=1;
    //     }
    // });

    $("#userName").on("input",function () {
        var userName = $("#userName").val();
        $.ajax({
            type:"POST",
            url:"/querysamename",
            data:{
               "userName":userName
            },
            traditional: false,
            datatype: "json",
            success:function (data) {
                if (data===true){
                    flag_username=false;
                }else{
                    flag_username=true;
                }
            },
        });
    });

    $("#password").on("input",function () {
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        if (false == enoughRegex.test($(this).val())) {
            $('#input-password').html('请输入长度不小于8的大小写字母，特殊字符和数字');
            flag_pwd=false;
        } else if (strongRegex.test($(this).val())) {
            $('#input-password').className = 'ok';
            $('#input-password').html('');
            flag_pwd=true;
        } else if (mediumRegex.test($(this).val())) {
            $('#input-password').className = 'alert';
            $('#input-password').html('请输入长度不小于8的大小写字母，特殊字符和数字');
            flag_pwd=false;
        } else {
            $('#input-password').className = 'error';
            $('#input-password').html('请输入长度不小于8的大小写字母，特殊字符和数字');
            flag_pwd=false;
        }
    });

    $("#password1").on("input",function () {

        if ($("#password").val()!==$("#password1").val()){
            $("#twice-input").html("两次密码不一致");
            flag_pwd_t=false;
        }else {
            $("#twice-input").html("");
            flag_pwd_t=true;
        }

    });

    $("#sub").on("click",function () {
        if (!flag_username){
            $('#user-name').html('用户名已存在');
        }
        if (flag_username && flag_pwd && flag_pwd_t){
            alert("插入成功");
            return true;
        }else {
            return false;
        }

    });
    // $("#password1").on("input",function () {
    //     if ($("#password1").val() !== $("#password").val()){
    //         $("#twice-input").val("两次密码输入不一致");
    //         flag+=1;
    //     }
    // });

    // $('#password').on("input", function () {//jquery on方法:在被选元素及子元素上添加一个或多个事件处理程序。
    //     let level = 0;//level：密码强度值
    //     let str = $(this).val();//获取input内value的值
    //     //添加的代码
    //     //test() 方法用于检测一个字符串是否匹配某个模式
    //     if (/\d/.test(str)) level++;//匹配数字
    //     if (/[a-z]/.test(str)) level++;//如果有小写a-z，密码强度++
    //     if (/[A-Z]/.test(str)) level++;//匹配大写A-Z
    //     if (str.length > 10) level++;//密码长度是否大于10
    //     if (/[\.\~\@\#\$\%\^\&\*]/.test(str)) level++; //匹配特殊字符
    //     $('#msg').show()//show() 方法显示隐藏的被选元素
    //     let arr = ['red', 'orange', 'yellow', 'blue', 'green']
    //     $('#progress').css('width', (level / 5) * 100 + "%").css('background', arr[level - 1])
    // });
</script>
</body>
</html>