<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>审核出库申请表</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=VovYGooPZpSU7yqTG1GeukhP1UVibGK2"></script>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">货物基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <caption>货物信息</caption>
                            <thead>
                            <tr>
                                <th>货物名称</th>
                                <th>货物重量</th>
                                <th>货物体积(m³)</th>
                                <th>入库时间</th>
                                <th>申请人员</th>
                                <th>配送方式</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label th:text="${tempSaveItems.getItemName()}"></label></td>
                                <td><label th:text="${tempSaveItems.getItemWeight()}"></label></td>
                                <td><label th:text="${tempSaveItems.getVolume()}"></label></td>
                                <td><label th:text="${item.getDate()}"></label></td>
                                <td><label th:text="${tempSaveItems.getOperator()}"></label></td>
                                <td><label th:text="${exportList.getDeliveryMode()}"></label></td>

                                <input type="hidden" id="volume" th:value="${tempSaveItems.getVolume()}">
                                <input type="hidden" id="tempId" th:value="${tempSaveItems.getId()}">
                                <input type="hidden" id="id" th:value="${item.getId()}">
                                <input type="hidden" id="roomCode" th:value="${tempSaveItems.getRoomCode()}">
                                <input type="hidden" id="length" th:value="${room.getLength()}">
                                <input type="hidden" id="width" th:value="${room.getWidth()}">
                                <input type="hidden" id="roomLng" th:value="${room.getLng()}">
                                <input type="hidden" id="roomLat" th:value="${room.getLat()}">
                                <input type="hidden" id="itemLng" th:value="${exportList.getLng()}">
                                <input type="hidden" id="itemLat" th:value="${exportList.getLat()}">
                            </tr>
                            </tbody>
                            <thead>
                            <tr>
                                <th>存放库房</th>
                                <th>存放隔间</th>
                                <th>出库日期</th>
                                <th>配送花费</th>
                                <th>存放花费</th>
                                <th>总花费</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label th:text="${tempSaveItems.getRoomName()}"></label></td>
                                <td><label th:text="${tempSaveItems.getRoomPoint()}"></label></td>
                                <td><label th:text="${exportList.getExportDate()}"></label></td>
                                <td><label th:text="${exportList.getDeliverCost()}"></label></td>
                                <td><label th:text="${exportList.getAllCost()}"></label></td>
                                <td><label th:text="${exportList.getAmountCost()}"></label></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="panel-heading">
                        <h3 class="panel-title">配送路线图</h3>
                    </div>
                    <div class="panel-body">
                        <div style="width: 800px;height: 500px;" id="myContainer">

                        </div>
                        <button class="btn btn-success" id="accesschecking">通过审核</button>
                        <button class="btn btn-primary" id="returnchecking">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var itemLng = $("#itemLng").val();
    var itemLat = $("#itemLat").val();
    var roomLng = $("#roomLng").val();
    var roomLat = $("#roomLat").val();
    var map = new BMap.Map("myContainer",{mapType:BMAP_NORMAL_MAP,minZoom:1,maxZoom:18});
    map.centerAndZoom(new BMap.Point(114.509052,38.082581), 14);
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var driving = new BMap.DrivingRoute(map, {
        renderOptions: {
            map: map,
            autoViewport: true
        }
    });
    var end = new BMap.Point(itemLng,itemLat);
    var start = new BMap.Point(roomLng,roomLat);
    driving.search(start, end);

    $("#accesschecking").on("click",function () {
        var id = $("#tempId").val();
        $.ajax({
            type:"POST",
            url: "/approvedexsuccess",
            data: {
                "id":id
            },
            traditional: false,
            datatype: "json",
            success: function (data){
                if (data===true){
                    alert("审核通过！");
                    window.location.href="/returntoqueryex";
                }else{
                    alert("审核失败，请刷新页面重新进入");
                    return false;
                }
            },
            error:function () {

            }
        });
    });
</script>
</body>
</html>