<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<title>失败原因</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">失败原因</h3>
                    </div>
                    <div class="panel-body">
                <form action="/hanlderunApproved">
                    <p>
                        &emsp;&emsp;<label>名&emsp;&emsp;称:</label><input type="text" name="itemName" th:if="${currentdata}" th:value="${currentdata.getItemName()}"  readonly="readonly"/>

                    </p>
                    <p>
                        &emsp;&emsp;<label>重&emsp;&emsp;量:</label><input type="text" name="itemWeight" th:if="${currentdata}" th:value="${currentdata.getItemWeight()}" readonly="readonly"/><label>&emsp;吨</label>
                    </p>

                    <!--                    <p>-->
                    <!--                        &emsp;&emsp;<label>标&emsp;&emsp;签:</label>-->
                    <!--                        <label>-->
                    <!--                            <select name="roomLabelCode">-->
                    <!--                                <option th:value="${currentdata.getRoomLabelCode()}"-->
                    <!--                                        th:text="${currentdata.getRoomLabelName()}" readonly="readonly"></option>-->
                    <!--                            </select>-->
                    <!--                        </label>-->
                    <!--                    </p>-->
                    <p>
                        &emsp;&emsp;<label>失败原因:</label>
                        <label>
                            <select name="status">
                                <option value="2">审核失败</option>
                                <option value="3">条目冻结</option>
                            </select>
                        </label>
                    </p>
                    <p>
                        &emsp;&emsp;<label>详细说明:</label>
                        <label>
                            <textarea name="comment" id="comment" cols="20" rows="5" placeholder="输入小于40字" maxlength="40" style="resize: none;vertical-align:top"></textarea>
                        </label>
                    </p>
                    <p>
                        <input type="hidden" name="inspector" th:value="${currentdata.getOperator()}"><input type="hidden" name="id" th:value="${currentdata.getId()}">
                        <input type="hidden" name="roomLabelCode" th:value="${currentdata.getRoomLabelCode()}"><input type="hidden" name="roomCode" th:value="${currentdata.getRoomCode()}">
                        <input type="hidden" name="registrationTimeStamp" th:value="${currentdata.getRegistrationTimeStamp()}">
                    </p>
                    <p>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input class="btn btn-success" type="submit" id="sub" value="提交原因"/>&emsp;&emsp;<input class="btn btn-primary" type="reset" value="重置" th:value="重置">
                    </p>
                </form>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>