<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>出库详单</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">出库详单</h3>
                        <button style="float: right" id="btnExport">导出</button>
                    </div>
                    <div class="panel-body">
                        <table id="exportDetailTable" class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>出库名称</th>
                                    <th>出库重量</th>
                                    <th>入库时间</th>
                                    <th>出库时间</th>
                                    <th>出库人员</th>
                                    <th>存放天数</th>
                                    <th>存放花费(元)</th>
                                    <th>送达客户</th>
                                    <th>联系方式</th>
                                    <th>联系地址</th>
                                    <th>配送方式</th>
                                    <th>配送花费</th>
                                    <th>配送状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item,c:${exportLists}">
                                    <th th:text="${c.count}"></th>
                                    <th th:text="${item.getItemName()}"></th>
                                    <th th:text="${item.getItemWeight()}"></th>
                                    <th th:text="${item.getWarehousingDate()}"></th>
                                    <th th:text="${item.getExportDate()}"></th>
                                    <th th:text="${item.getOperator()}"></th>
                                    <th th:text="${item.getStorageTime()}"></th>
                                    <th th:text="${item.getAllCost()}"></th>

                                    <th th:text="${item.getConsignee()}"></th>
                                    <th th:text="${item.getContactInformation()}"></th>
                                    <th th:text="${item.getReceiveAddress()}"></th>

                                    <th th:text="${item.getDeliveryMode()}"></th>
                                    <th th:text="${item.getDeliverCost()}"></th>
                                    <th th:text="${item.getStatusText()}"></th>
                                    <th>
                                        <!--                                    <a th:href="@{/deleteexportlist(id=${item.getId()})}"> <label th:if="${item.getStatus() eq '1' || item.getStatus() eq '2'} " th:text="撤销"></label></a>&emsp;-->
                                        <a th:href="@{/todetail(id=${item.getId()})}"><label th:if="${item.getStatus() eq '3'}" id="details" th:text="查看运送详情"></label></a>&emsp;
                                        <a th:href="@{/signfor(id=${item.getId()})}"><label th:if="${item.getStatus() eq '4'}" th:text="签收"></label></a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnExport").click(function(){
            var date = new Date();
            $('#exportDetailTable').table2excel({
                type:'excel',
                filename: 'exportdetailtable'+date.getTime(),
                exclude_links : false,
            });
        });
    })
</script>
</body>
</html>