<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>标签列表</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">标签列表</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive">
                            <tr>
                                <th>&emsp;序&emsp;&emsp;号&emsp;</th>
                                <th>&emsp;标签名称&emsp;</th>
                                <th>&emsp;标签编号&emsp;</th>
                                <th>&emsp;单位重量&emsp;</th>
                                <th>&emsp;最小温度&emsp;</th>
                                <th>&emsp;最大温度&emsp;</th>
                                <th>&emsp;操&emsp;&emsp;作&emsp;</th>
                            </tr>
                            <tr th:each="item,c:${labels}">
                                <th th:text="'&emsp;'+${c.count}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomLabelName()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomLabelCode()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getUnitWeightFood()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getMinTemperature()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getMaxTemperature()}+'&emsp;'"></th>
                                <th>&emsp;<a id="delete" th:href="@{/deletelabel(id=${item.getId()})}">删除</a>&emsp;</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#delete").on("click",function () {
        var r=confirm("确认删除？");
        if (r==true){
            return r;
        }
        else{
            return false;
        }

    });
</script>
</body>
</html>