<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>运输工具列表</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">运输工具列表</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive">
                            <tr>
                                <th>&emsp;序&emsp;&emsp;号&emsp;</th>
                                <th>&emsp;运输类型&emsp;</th>
                                <th>&emsp;最大承重&emsp;</th>
                                <th>&emsp;百里费用&emsp;</th>
                                <th>&emsp;操&emsp;&emsp;作&emsp;</th>
                            </tr>
                            <tr th:each="item,c:${transports}">
                                <th th:text="'&emsp;'+${c.count}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getTruckType()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getMaxBearing()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRentalCost()}+'&emsp;'"></th>
                                <th><input type="hidden" name="id" th:value="${item.getId()}">&emsp;<a id="revise" th:href="@{/revisetransport(id=${item.getId()})}">修改</a>&emsp;&emsp;<a id="delete" th:href="@{/deletetransport(id=${item.getId()})}">删除</a>&emsp;</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>