<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>库存展示</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="/js/jquery.min.js"></script>

<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">库存展示</h3>
                        <button class="btn btn-primary" style="float: right" id="btnExport">导出</button>
                    </div>
                    <div class="panel-body">
                        <div id="search">
                            <div id="search-wrap">
                                <select id="searchType" name="searchType" class="search-choise">
                                    <option value="itemName">货物名称</option>
                                    <option value="roomCode">存放仓库</option>
                                </select>
                                <input type="text" placeholder="输入搜索内容" id="searchWord" name="searchWord" maxlength="10">
                                <button class="btn btn-primary" name="searchExcute" id="searchExcute" type="submit">搜索</button>
                                <button class="btn btn-primary" name="allInformation" id="allInformation" type="button">查看全部</button>
                            </div>
                        </div>

                        <div>
                            <table class="table">
                                <caption></caption>
                                <thead>
                                <tr>
                                    <th>货物名称</th>
                                    <th>货物重量</th>
                                    <th>货物体积</th>
                                    <th>存放库房</th>
                                    <th>存放隔间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,c:${tempSaveItems}">
                                    <td><a th:href="@{/stayitemdetail(id=${item.getId()})}"><label th:text="${item.getItemName()}"></label></a></td>
                                    <td><label th:text="${item.getItemWeight()}"></label></td>
                                    <td><label th:text="${item.getVolume()}"></label></td>
                                    <td><label th:text="${item.getRoomName()}"></label></td>
                                    <td><label th:text="${item.getRoomPoint()}"></label></td>
                                    <td><!--<button class="btn btn-success">转仓</button>&emsp;--><button id="exportitem" class="btn btn-success">出库</button></td>
                                    <input id="id" type="hidden" th:value="${item.getId()}">
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<input type="hidden" id="count" th:value="${count}">
                        <div id="btn-room">
                        </div>
                        <div id="show-area">-->
                            <!--<table>
                                <tr>
                                    <th>序&emsp;&emsp;号</th>
                                    <th>编&emsp;&emsp;号</th>
                                    <th>名&emsp;&emsp;称</th>
                                    <th>重&emsp;&emsp;量</th>
                                    <th>入库时间</th>
                                    <th>操作员</th>
                                </tr>
                                <tr id="data-display">

                                </tr>
                            </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>
</body>
<script>
    $(document).ready(function () {
        $("#searchExcute").click(function () {
            if ($("#searchWord").val().trim()==="" || $("#searchWord").val().trim()===null){
                $("#searchWord").val("");
                alert("搜索内容不能为空！");
            }else{
                var searchType = $("#searchType").find("option:selected").val();
                var searchWord = $("input[name='searchWord']").val();
                //alert(searchWord);
                //$(location).attr("href","/searchdelivery?searchType="+searchType+"&searchWord="+searchWord);
                //location.href = "/searchwarehousing?searchType="+searchType+"&searchWord="+searchWord;
            }
        });
        $("#allInformation").click(function () {
            //location.href = "/displaywarehousing";
        });
        $("#exportitem").on("click",function () {
            var id = parseInt($("#id").val());
            window.location.href="/exportitem?id="+id;
        })
        // $("#btnExport").click(function(){
        //     var date = new Date();
        //     $('#warehousingTable').table2excel({
        //         type:'excel',
        //         escape:'false',
        //         filename: 'warehousingtable'+date.getTime(),
        //     });
        // });
    });
    // var sum = parseInt($("#count").val());
    // var x = 1;
    // $(document).ready(function () {
    //     var strEmsp = "<div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;";
    //     for (;x<=sum;x++){
    //         strEmsp += "&emsp;&emsp;<button class='btn-click' name="+x+">仓库"+x+"</button>&emsp;&emsp;";
    //         //$("#btn-room").append("&emsp;&emsp;<button class='btn-click' name="+x+">仓库"+x+"</button>&emsp;&emsp;");
    //     }
    //     strEmsp += "</div><br><br>";
    //     $("#btn-room").append(strEmsp);
    //
    // });
    // //增加点击事件
    // $(document).on("click", '.btn-click', function () {
    //     var number = $(this).attr("name");
    //     $("#show-area").empty();
    //     $.ajax({
    //         type: "POST",
    //         url: "/displayitem",
    //         data: {
    //             "id":number
    //         },
    //         traditional:false,
    //         dataType: "json",
    //         success:function (data) {//成功后返回的数据
    //             console.log(data);
    //             if (data != null){
    //                 var strData = "<div>";
    //                 strData+="<table><tr><th>&emsp;序&emsp;&emsp;号&emsp;</th>\n" +
    //                     "            <th>&emsp;编&emsp;&emsp;号&emsp;</th>\n" +
    //                     "            <th>&emsp;名&emsp;&emsp;称&emsp;</th>\n" +
    //                     "            <th>&emsp;重&emsp;&emsp;量&emsp;</th>\n" +
    //                     "            <th>&emsp;入库时间&emsp;</th>\n" +
    //                     "            <th>&emsp;操作员&emsp;</th>" +
    //                     "            <th>&emsp;操&emsp;&emsp;作&emsp;</th></tr>";
    //                 $.each(data,function (index,element) {//第一个是数组下标，第二个是数组的值
    //                     strData += "<tr><th>&emsp;" + element.id + "&emsp;</th>";
    //                     strData += "<th>&emsp;" + element.identifier + "&emsp;</th>";
    //                     strData += "<th>&emsp;" + element.itemName + "&emsp;</th>";
    //                     strData += "<th>&emsp;" + element.itemWeight + "&emsp;</th>";
    //                     strData += "<th>&emsp;" + element.registrationTimeStamp + "&emsp;</th>";
    //                     strData += "<th>&emsp;"+element.operator+"</th><th>"+"&emsp;<input id='uid' type='hidden' value='"+element.id+"'><a id='export' href='/exportitem?room="+number+"&id="+element.id+"'>出库</a>&emsp;|&emsp;<a id='transfer' href='/transferitem?room="+number+"&id="+element.id+"'>转仓</a>&emsp;"+"</th></tr>";
    //                     //strData += "<br>";
    //                 });
    //                 strData+="</table></div>";
    //                 $("#show-area").append(strData);
    //                 console.log(strData);
    //             }
    //
    //         },
    //         error:function (data) {//失败后返回的数据
    //             console.log(data);
    //         }
    //     });
    //
    // });
</script>
</html>