<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>修改仓库信息</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">修改仓库信息</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/reviseinroom">
                            <p>
                                <label>仓库名称：</label><input type="text" name="roomName" th:value="${currentdata.getRoomName()}">
                                <label style="color: red"></label>
                            </p>
                            <p>
                                <label>仓库编号：</label><input type="text" th:value="${currentdata.getRoomCode()}" name="roomCode" readonly="readonly">
                            </p>
                            <p>
                                <label>仓库容积：</label><input type="text" name="roomVolume" th:value="${currentdata.getRoomVolume()}" readonly="readonly">&emsp;<label>m³</label>
                                <label style="color: red"></label>
                            </p>
                            <p>
                                <label>额定温度：</label><input type="text" name="roomTemperature" th:value="${currentdata.getRoomTemperature()}">&emsp;<label>℃</label>
                                <label style="color: red"></label>
                            </p>
                            <p>
                                <label>冷藏费用：</label><input type="text" name="roomDailyCost" th:value="${currentdata.getRoomDailyCost()}">&emsp;<label>元/天</label>
                                <label style="color: red"></label>

                            </p>
                            <p>
                                <input type="hidden" name="id" th:value="${currentdata.getId()}"><input class="btn btn-success" type="submit" id="sub" value="修改">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#sub").on("click",function () {
        var regPosP = /^\d+(\.\d+)?$/; //非负浮点数
        var regNegP = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
        var retPos = /^[1-9]\d*$/;//正整数
        var regNeg = /^-[1-9]\d*$/; // 负整数
        var roomName= $("input[name='roomName']").val();
        var roomT = $("input[name='roomTemperature']").val();
        var roomD = $("input[name='roomDailyCost']").val();
        console.log("roomName"+roomName);
        console.log("roomT"+roomT);
        console.log("roomD"+roomD);
        if (roomName==="" || roomT==="" || roomD===""){
            alert("有输入为空！请检查！");
            return false;
        }else if (!(retPos.test(roomT) || regNeg.test(roomT))){
            alert("温度请输入数字");
            return false;
        }else if (!(regPosP.test(roomD) || regNegP.test(roomD))){
            alert("费用请输入数字");
            return false;
        }
        else{
            return true;
        }

    });
</script>
</body>
</html>