<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>修改运输工具</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=VovYGooPZpSU7yqTG1GeukhP1UVibGK2"></script>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">修改运输工具</h3>
                    </div>
                    <div class="panel-body">
                        <form id="main-form" action="/reviseintransport">
                            <p>
                                &emsp;&emsp;<label>客户名字：</label><input type="text" name="truckType" th:if="${transport}" th:value="${transport.getTruckType()}">
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['truckType']}"></label>
                            </p>
                            <p>
                                &emsp;&emsp;<label>联系方式：</label><input type="text" name="maxBearing" th:if="${transport}" th:value="${transport.getMaxBearing()}">
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['maxBearing']}"></label>
                            </p>
                            <p>
                                &emsp;&emsp;<label>地&emsp;&emsp;址：</label><input type="text" id="rentalCost" name="rentalCost" th:if="${transport}" th:value="${transport.getRentalCost()}">&emsp;
                                <label style="color: red" th:if="${errorMap}" th:text="${errorMap['rentalCost']}"></label>
                            </p>
                            <div id="mapContainer" style="width: 300px;height: 230px"></div>
                            <p>
                                <input type="hidden" name="id" th:value="${customers.getId()}">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="点击修改">&emsp;&emsp;&emsp;<input type="reset" value="点击重置">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>