<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>展示仓库相关信息</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">展示仓库相关信息</h3>
                    </div>
                    <div class="panel-body">
                        <div id="search">
                            <div id="search-wrap">
                                <select id="searchType" name="searchType" class="search-choise">
                                    <option value="roomName">库房名称</option>
                                    <option value="roomCode">库房编号</option>
                                    <option value="specialTemperature">指定温度</option>
                                    <option value="specialCost">指定费用</option>
                                </select>
                                <input type="text" placeholder="输入搜索内容" id="searchWord" name="searchWord" maxlength="10">
                                <button class="btn btn-primary" name="searchExcute" id="searchExcute" type="submit">搜索</button>
                                <button class="btn btn-success" name="allInformation" id="allInformation" type="button">查看全部</button>
                            </div>
                        </div>
                        <br>
                        <table>
                            <tr>
                                <th>&emsp;仓库名称&emsp;</th>
                                <th>&emsp;仓库编号&emsp;</th>
                                <th>&emsp;仓库容积（m³）&emsp;</th>
                                <th>&emsp;仓库额定温度（℃）&emsp;</th>
                                <th>&emsp;仓库标签&emsp;</th>
                                <th>&emsp;仓库已用大小（吨）&emsp;</th>
                                <th>&emsp;仓库未用大小（吨）&emsp;</th>
                                <th>&emsp;仓库当前温度&emsp;</th>
                                <th>&emsp;每日冷藏费用&emsp;</th>
                                <th>&emsp;是否锁定&emsp;</th>
                                <th>&emsp;操&emsp;&emsp;作&emsp;</th>
                            </tr>
                            <tr th:each="item:${allRoomInformation}">
                                <th th:text="'&emsp;'+${item.getRoomName()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomCode()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomVolume()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomTemperature()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomLabelName()}+'&emsp;'">无</th>
                                <th th:text="'&emsp;'+${item.getUsedCapacity()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getUnusedCapacity()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getCurrentTemperature()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomDailyCost()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${item.getRoomKey()}+'&emsp;'">未锁定</th>
                                <th><a th:href="@{/reviseroom(id=${item.getId()})}"><label>修改</label></a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#searchExcute").click(function () {
            if ($("#searchWord").val().trim()==="" || $("#searchWord").val().trim()===null){
                $("#searchWord").val("");
                alert("搜索内容不能为空！");
            }else{
                var searchType = $("#searchType").find("option:selected").val();
                var searchWord = $("input[name='searchWord']").val();
                //alert(searchWord);
                //$(location).attr("href","/searchdelivery?searchType="+searchType+"&searchWord="+searchWord);
                location.href = "/searchroom?searchType="+searchType+"&searchWord="+searchWord;
            }
        });
        $("#allInformation").click(function () {
            location.href = "/roominformationdisplay";
        });
    });
</script>
</body>
</html>