<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>货物详细信息</title>
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=VovYGooPZpSU7yqTG1GeukhP1UVibGK2"></script>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">货物基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <caption>货物信息</caption>
                            <thead>
                            <tr>
                                <th>货物名称</th>
                                <th>货物重量</th>
                                <th>货物种类</th>
                                <th>货物体积(m³)</th>
                                <th>入库时间</th>
                                <th>入库库房</th>
                                <th>存放隔间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label th:text="${tempSaveItems.getItemName()}"></label></td>
                                <td><label th:text="${tempSaveItems.getItemWeight()}"></label></td>
                                <td><label th:text="${tempSaveItems.getRoomLabelName()}"></label></td>
                                <td><label th:text="${tempSaveItems.getVolume()}"></label></td>
                                <td><label th:text="${itemInformation.getDate()}"></label></td>
                                <td><label th:text="${tempSaveItems.getRoomName()}"></label></td>
                                <td><label th:text="${tempSaveItems.getRoomPoint()}"></label></td>
                                <input type="hidden" id="tempLng" th:value="${tempSaveItems.getLng()}">
                                <input type="hidden" id="tempLat" th:value="${tempSaveItems.getLat()}">
                                <input type="hidden" id="id" th:value="${tempSaveItems.getId()}">
                                <input type="hidden" id="roomCode" th:value="${tempSaveItems.getRoomCode()}">
                                <input type="hidden" id="length" th:value="${room.getLength()}">
                                <input type="hidden" id="width" th:value="${room.getWidth()}">
                                <input type="hidden" id="goodId" th:value="${itemInformation.getId()}">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">库房存放位置</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table id="room">

                            </table>
                        </div>
                        <button class="btn btn-success" id="exportitem">出库</button>
<!--                        <button class="btn btn-success" id="change">转库</button>-->
                        <button class="btn btn-primary" id="returnchecking">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var roomCode = $("#roomCode").val();
        var id = parseInt($("#goodId").val());
        $.ajax({
            type: "POST",
            url: "/cubiclesdata",
            data: {
                "roomCode": roomCode
            },
            traditional: false,
            datatype: "json",
            success: function (data) {
                console.log(data[0]['goodId']===id);
                var length = parseInt($("#length").val());
                var width = parseInt($("#width").val());
                var len = 0;
                var flag = 0;
                var strCode = "";
                for (; len < length; len++) {
                    var wid = 0;
                    strCode += "<tr>";
                    for (; wid < width; wid++) {
                        strCode += "<td><input type='checkbox' name='cubicles' id='" + data[flag]['code'] + "' value='" + data[flag]['code'] + "' ";
                        //隔间已经锁定
                        if (data[flag]['goodId'] === id && data[flag]['status'] === '4') {
                            strCode += "checked disabled><label>" + data[flag]['code'] + "</label></td>";
                            console.log("jinlaile");
                        }  else {
                            strCode += "disabled><label>" + data[flag]['code'] + "</label></td>";
                        }
                        flag++;
                    }
                    strCode += "</tr>";
                }
                $("#room").append(strCode);
            },
            error: function (data) {

            }
        });
        //付款
        $("#exportitem").on("click",function () {
            var id = parseInt($("#id").val());
            window.location.href="/exportitem?id="+id;
            // $.ajax({
            //     type:"POST",
            //     url: "/exportitem",
            //     data: {
            //         "id":id
            //     },
            //     traditional: false,
            //     datatype: "json",
            //     success: function (data){
            //         if (data===true){
            //             alert("提交审核成功！");
            //             window.location.href="/toreturnindex";
            //         }else{
            //             alert("出库失败，请刷新页面重新进入");
            //             return false;
            //         }
            //     },
            //     error:function () {
            //
            //     }
            // });
        });
        $("#returnchecking").on("click",function () {
            window.location.href="/returntoexcoldstorageitem";
        });

    })
</script>
</body>
</html>