<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header/link :: linkheader">
    <meta charset="UTF-8">
    <title>结果页面</title>
    <!--SCRIPTS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
</head>
<body>
<div id="room">

</div>

<script>
    $(document).ready(function () {
        var code = "<svg width='2500' height='2500' x='70' y='40'>";
        var i = 1;
        var x = 0,y = 20,flag=0;//初始长宽高
        var length = 20,wide = 10;
        //测试 20*10 长*宽
        for (;i<=length*wide;i++){
            x++;
            var color = "#FFFFFF";
            if (i%2 === 0){
                color = "#ff0009";
            }
            code += "<rect width='50' height='50' x='"+(20+(x-1)*80)+"' y='"+y+"' style='stroke-width:2;stroke:rgba(17,0,11,0.87);fill: "+color+"'></rect><text x='"+(70+(x-1)*80)+"' y='"+(y+25)+"' >&ensp;A1</text>";
            if (i%length === 0){
                flag++;
                code += "<br/>";
                x = 0;
                y += 60;
            }
        }
        code += "</svg>";
        $("#room").append(code);
    });
</script>
</body>
</html>