<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>提交审批项目</title>
<head th:replace="header/link::linkheader">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="header/header :: navbar">
    </nav>
    <!--SIDEBAR-->
    <div th:replace="header/side :: sidebar">
    </div>
    <!--MAIN-->
    <div id="main" class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">入库提交审批项目</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <th colspan="9">待审核表</th>
                            </tr>
                            <tr style="text-align: center;">
                                <th>&emsp;序&emsp;&emsp;号&emsp;</th>
                                <th>&emsp;名&emsp;&emsp;称&emsp;</th>
                                <th>&emsp;体&emsp;&emsp;积&emsp;</th>
                                <th>&emsp;时&emsp;&emsp;间&emsp;</th>
                                <th>&emsp;操作人员&emsp;</th>
                                <th>&emsp;存储库房&emsp;</th>
                                <th>&emsp;编&emsp;&emsp;号&emsp;</th>
                                <th>&emsp;备&emsp;&emsp;注&emsp;</th>
                                <th>&emsp;操&emsp;&emsp;作&emsp;</th>
                            </tr>
                            <tr style="text-align: center;" th:each="items,c:${inspecting}">
                                <th th:text="'&emsp;'+${c.count}"></th>
                                <th th:text="'&emsp;'+${items.getItemName()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getVolume()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getDates()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getOperator()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getRoomName()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getIdentifier()}+'&emsp;'"></th>
                                <th th:text="'&emsp;'+${items.getComment()}"></th>
                                <th>
                                    <input id="uid" name="uid" type="hidden" th:value="${items.getId()}">
<!--                                   &emsp;<a id="details" th:href="@{/details(id=${items.getId()})}">查看详情</a>&emsp;<br>-->
                                   <a id="revoke" th:href="@{/revoke(id=${items.getId()})}"><label th:if="${items.getStatus() eq '1' || items.getStatus() eq '6'}" th:text="取消预约"></label></a>
                                   <a id="indetail" th:href="@{/indetail(id=${items.getId()})}"><label th:if="${items.getStatus() eq '3' || items.getStatus() eq '8'}" th:text="付款"></label></a>
                                    <a id="reopen" th:href="@{/reopen(id=${items.getId()})}"><label th:if="${items.getStatus() eq '4'}" th:text="重新发起"></label></a>&emsp;
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#revoke").on("click",function () {
        var r=confirm("确认撤销？");
        if (r==true){
            return r;
        }
        else{
            return false;
        }
    });
</script>
</body>
<!--<style type="text/css">-->
<!--    p{-->
<!--        background-url("/img/right-gray.png");-->
<!--    }-->
<!--    p:hover{-->
<!--        background-url("/img/right-green.png");-->
<!--    }-->
<!--</style>-->
</html>